div{
}
.logo{
    height: 50px;
}
.MenuNavegacion{
    background-color: #023047;
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.menu p{
    color: #FFB703;
}

a{
    text-decoration: none;
}

.menu img{
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 0px;
}